<div class="row">
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Vans Old Skool Sneakers</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i64.tinypic.com/21mugib.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Selling this good pair of Vans sneakers! Purchase it now!</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Quantity: Limited Stock</li>
          <li class="list-group-item">PRICE: 45 DKK</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Spiral Notebooks</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i63.tinypic.com/28tb0cm.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Spiral Notebooks! All kinds of colors are available! </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Quantity: Limited Stock</li>
          <li class="list-group-item">Price: 10 DKK</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Business Books for Sale!</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i67.tinypic.com/2vmvjpk.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Selling different types of business books! Remember to purchase them now!/p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Quantity: Limited Stock</li>
          <li class="list-group-item">Price: 100 DKK</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Rains Backpack (Authentic)</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i63.tinypic.com/308jqxs.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Selling a water and dust resistant backpack. Purchase now!</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Quantity: Limited Stock</li>
          <li class="list-group-item">Price 400 DKK</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Blingy Watches</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i66.tinypic.com/2cqmv48.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Selling blingy watches. Durable yet affordable!</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Quantity: Limited Stock</li>
          <li class="list-group-item">Price 100 DKK</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Glitter Ballpens</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i66.tinypic.com/2j1u8gg.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Glitter ballpens with all sorts of colors! Purchase now!</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Quantity: Limited Stock</li>
          <li class="list-group-item">Price 400 DKK</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>