<div class="row">
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Your Product Title Here</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i67.tinypic.com/28ip7xc.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Your Product Title Here</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i67.tinypic.com/28ip7xc.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Your Product Title Here</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i67.tinypic.com/28ip7xc.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Your Product Title Here</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i67.tinypic.com/28ip7xc.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Your Product Title Here</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i67.tinypic.com/28ip7xc.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Your Product Title Here</h2>
        <div class="template-demo">
          <img class="card-img-top" src="http://i67.tinypic.com/28ip7xc.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
        <div class=card>
        <div class="card-body">
          <a href="#" class="btn btn-success">Edit</a> &nbsp;&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>