<div class="row">
 
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <h2 class="card-title">MODE OF PAYMENT</h2>
          <p>Please select the mode of payment for your customer</p>
          <div class="row">
              <div class="col-md-6">
                <address>
                  <p class="font-weight-bold">Online Payment</p>
                </address>
              </div>
              <div class="col-md-6">
                  <div class="btn-group">
                      <button type="button" class="btn btn-primary">Select Option</button>
                      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle-split" id="dropdownMenuSplitButton5" ngbDropdownToggle>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenuSplitButton5">
                          <a class="dropdown-item" href="#">via Mobile</a>
                          <a class="dropdown-item" href="#">via Debit/Credit Card</a>
                          <a class="dropdown-item" href="#">Enable Both</a>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                  <address>
                    <p class="font-weight-bold">Money Transfer</p>
                  </address>
                </div>
                <div class="col-md-6">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Select Option</button>
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                          <button type="button" class="btn btn-primary dropdown-toggle-split" id="dropdownMenuSplitButton5" ngbDropdownToggle>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownMenuSplitButton5">
                            <a class="dropdown-item" href="#">Send Details</a>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
        </div>
    </div>
  </div>
  <!--Edit start Here-->
  <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Address</h4>
          <div class="row">
            <div class="col-md-6">
              <address>
                <p class="font-weight-bold">Star Admin Inc</p>
                <p>
                  695 lsom Ave,
                </p>
                <p>
                  Suite 00
                </p>
                <p>
                  San Francisco, CA 94107
                </p>
              </address>
            </div>
            <div class="col-md-6">
              <address class="text-primary">
                <p class="font-weight-bold">
                  E-mail
                </p>
                <p class="mb-2">
                  johndoe@examplemeail.com
                </p>
                <p class="font-weight-bold">
                  Web Address
                </p>
                <p>
                  www.staradmin.com
                </p>
              </address>
            </div>
          </div>
        </div>
        <div class="card-body">
            <a href="#" class="btn btn-success">Edit Address</a> &nbsp;&nbsp;&nbsp;
          </div>
      </div>
    </div>
  <!--Edit ends here-->
  <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">MANAGE TICKET AND NOTIFICATIONS</h4>
          <div class="row">
            <div class="col-md-6">
              <address>
                <p class="font-weight-bold">Customer Ticket</p>
              </address>
            </div>
            <div class="col-md-6">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Select Option</button>
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                      <button type="button" class="btn btn-primary dropdown-toggle-split" id="dropdownMenuSplitButton5" ngbDropdownToggle>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownMenuSplitButton5">
                        <a class="dropdown-item" href="#">Enable</a>
                        <a class="dropdown-item" href="#">Disable</a>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-6">
                <address>
                  <p class="font-weight-bold">Notification</p>
                </address>
              </div>
              <div class="col-md-6">
                  <div class="btn-group">
                      <button type="button" class="btn btn-primary">Select Option</button>
                      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle-split" id="dropdownMenuSplitButton5" ngbDropdownToggle>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenuSplitButton5">
                          <a class="dropdown-item" href="#">Enable Notification</a>
                          <a class="dropdown-item" href="#">Disable Notification</a>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>